.camps-dashboard {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px !important;
    background: #E9E9E9;
}


.camps-grid-column {
    width: 25% !important;
}

.camps-dashboard-container {
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 800px) {

    .camps-dashboard-menu-item h2 {
        font-size: 18px;
    }

    .camps-search-campsite {
        width: 220px;
    }
}

