.camps-dashboard {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px !important;
    background: #E9E9E9;
}


.camps-grid-column {
    width: 25% !important;
}

.camps-dashboard-container {
    padding-left: 10%;
    padding-right: 10%;
}

.camps-dashboard-grid-search {
    text-align: left;
    padding: 0 20px 20px 0;
    width: 100%;
}

.camps-dashboard-campgrounds {
    background: #ffffff;
    margin-top: 25px !important;
    padding: 25px !important;
    margin-bottom: 25px !important;
}

.camps-dashboard-loader {
    padding: 50px !important;
}

.camps-dashboard .ui.segment > .ui.dimmer {
    z-index: 0;
}

.camps-dashboard-pagination {
    margin-top: 50px !important;
}


@media only screen and (max-width: 800px) {

    .camps-dashboard-container {
        padding-left: 0;
        padding-right: 0;
    }

    .mobile-hidden {
        display: none !important;
    }

    .camps-dashboard-menu-item h2 {
        font-size: 18px;
    }

    .camps-search-campsite {
        width: 220px;
    }
}

