.App {
    text-align: center;
    background: #E9E9E9;
    height: 100vh;
}




.camps-bg-image {
    position: fixed !important;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.1;
}
